body {
   font-family: "Open Sans", sans-serif;
   color: #fff;
   position: relative;
   background: transparent;
}

body:before {
   /* content: ; */
   position: fixed;
   background: #010e1b;
   background-size: cover;
   left: 0;
   right: 0;
   top: 0;
   height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Raleway", sans-serif;
}

/* Header */

header {
   transition: ease-in-out 0s;
   position: relative;
   height: 100vh;
   display: flex;
   z-index: 997;
   overflow-y: auto;
   -webkit-transition: ease-in-out 0s;
   -moz-transition: ease-in-out 0s;
   -ms-transition: ease-in-out 0s;
   -o-transition: ease-in-out 0s;
}

header * {
   transition: ease-in-out 0s;
   -webkit-transition: ease-in-out 0s;
   -moz-transition: ease-in-out 0s;
   -ms-transition: ease-in-out 0s;
   -o-transition: ease-in-out 0s;
}

header h1 {
   font-size: 48px;
   margin-top: 0px;
   padding: 0;
   line-height: 1;
   font-weight: 700;
   font-family: "Poppins", sans-serif;
}